@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

/*Section one*/

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.left-links {
  display: flex;
  list-style-type: none;
  margin-right: auto;
}

.right-links {
  display: flex;
  list-style-type: none;
  margin-right: 30px;
}

/*Section two*/

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

/*Section three*/

.footer {
  display: flex;
  background-color: lightgray;
}

li {
  margin-right: 15px;
}

a {
  text-decoration: none;
  color: gray;
}

/*Presets*/

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
