body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 4px;
  padding-bottom: 4px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  margin: 8px;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  margin: 8px;
  text-align: center;
  padding-top: 10px;
  height: 50px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin-left: 140px;
}