.header {
  display: flex;
  font-size: 32px;
  align-items: center;
  font-weight: 700;
}

.content-container {
  display: flex;
  height: 650px;
}

.sidelinks {
  width: 200px;
  list-style-type: none;
  margin: 0px;
  padding-left: 10px;
  padding-top: 10px;
}

li {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  padding-right: 150px;
}

.first-card,.second-card {
  display: flex;
  text-align: left;
  padding-left: 20px;
}

.first-card {
  padding-top: 20px;
}

.card {
  width: 60%;
  height: 220px;
  margin: 20px 15px;
  padding: 20px;
}

.footer {
  text-align: center;
  padding-top: 20px;
}

/*presets*/

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}